<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_Golem_Dying_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,534},{389,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{227,218},{389,540}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{395,533}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,201},{395,533}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,545},{398,539}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,173},{398,539}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,545},{401,543}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{288,148},{401,543}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1085},{389,545}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,128},{389,545}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{409,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,116},{409,544}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1202},{486,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,146},{486,493}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1608},{515,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,226},{515,439}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1202},{535,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,304},{535,405}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{549,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,391},{549,408}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,409},{549,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,432},{549,398}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{545,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,448},{545,393}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{545,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,448},{545,393}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{545,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,448},{545,393}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

			<key>0_Golem_Dying_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,808},{545,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,448},{545,393}}</string>
				<key>sourceSize</key>
				<string>{900,900}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>